@charset "UTF-8";
@import '../../stylesheets/themes/themes.scss';
@import '../../stylesheets/helps/mixin.scss';
h1 {
  font-size: .36rem;
  font-weight: bold;
  padding: .3rem;
  text-align: center;
}
h2 {
  font-size: .3rem;
  font-weight: bold;
  padding: .3rem;
  text-align: left;
}
html, body {
  background-color: $bgPrimaryColor;
}
.g-cells {
  .g-cell-hd i {
    margin-right: .1rem;
  }
}