@charset "UTF-8";
@import '../../../stylesheets/themes/themes';
@import '../../../stylesheets/helps/mixin';
// 首页
html, body {
	background-color:$bgPrimaryColor;
}
.g-wrapper {
	width:100%;
}
.idx {
	&-banner {
		width: 7.5rem;
		height: 3.5rem;
		img {
			width:100%;
			height:100%;
		}
	}
	&-list {
		margin-top: .2rem;
		padding-bottom: .2rem;
		background-color: $bgSecColor;
		&-title {
			position:relative;
			padding: .22rem .3rem .12rem .3rem;
			font-size: .32rem;
			line-height:1.5;
			border-bottom: 1px solid $linePrimaryColor;
			color:#333;
			a {
				position:absolute;
				top:.22rem;
				right: .3rem;
				color: $fontSecColor;
			}
		}
		&-item {
			&-outer {
				width: 3.7rem;
				padding-top: .3rem;
				margin-right: .1rem;
				float: left;
				&:nth-child(2n) {
					margin-right: 0;
				}
			}
			&-inner {
				img {
					width: 3.7rem;
					height: 3.7rem;
				}
				p {
					padding: .14rem .16rem .22rem .19rem;
					font-size: .24rem;
					line-height: 1.5;
					color:$fontPrimaryColor;
					&.price {
						padding:0 .16rem 0 .19rem;
						font-size: .32rem;
						line-height: 1.0;
						color:$fontThreeColor;
					}
				}
			}
		}
	}
}